<html>
	<head>
		<title>
			Image Gallery
		</title>
		<link href="jquery/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css"/>
		<link href="style.css" rel="stylesheet" type="text/css"/>
		<script src="jquery/js/jquery-1.8.3.js"></script>
		<script src="jquery/js/jquery-ui-1.9.2.custom.min.js"></script>
		<script src="js/profile.js"></script>
		<script src="js/messages.js"></script>
		<script src="js/index.js"></script>
		
		<script type="text/javascript">
			$(function() {
				$("input[type=submit], a, button").button();
			  });
		</script>
	</head>
	<body background="background.jpg">
		<table>
			<tr>
				<td>
					<% include messages %>
					<% include profile %>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<div style="float: left">
							<h2 style="margin: 0px"><%= user.username + '/' %></h2>
						</div>
						<div style="float: left" id="path">
							<% if (path && path.length > 0) {
								for (var i = 0; i < path.lenght; i++) {
									var name = path[i]; %>
									<h2 id=<%= 'parent' + i %> style="margin: 0px"><%= name %></h2>
							<% }} %>
						</div>
						<div style="float: left" id="categories">
							<% if (categories && categories.length > 0) { %>
								<select id="categories0" class="combobox" style="width: 100px;">
									<option value=""></option>
									<% for (var i = 0; i < categories.length; i++) {
										var category = categories[i]; %>
										<option value=<%= category.id %>><%= category.name %></option>
									<%}%>
								</select>
							<% } %>
						</div>
						<div style="clear:both;"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<section style="max-height: 300px" id="imagesContainer">
						<% for (var index = 0; index < images.length; index++) {
							var image = images[index]; %>
							<div class="imageContainer" data-imageid=<%= image.imageId %>>
							    <div class="imageWidth">
							        <div class="cell" style=<%='background:url(\'files/' + user.username + '/' + image.imageId + '\')'%>><p class="imageName"><%= image.name %></p></div>
							    </div>
							</div>
						<% } %>
					</section>
				</td>
			</tr>
		</table>
	</body>
</html>